* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #2E2E2F;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    /* background-color: #13293d; */
    /* color: #fff; */
  }

.subheading {
    color:white;
    font-family: "Arial","Calibri",sans-serif;
    text-align: center;
  }

  h1,
  h2 {
    color:rgb(173, 29, 230);
    /* Color for headings */
    font-family: "Arial","Calibri",sans-serif;
    /* font for headings */
    text-align: center;
  }
  
  main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-between;
  }

  main h2 {
    position:relative;
    margin: -20px auto 0 auto;
    border: 3px solid white;
    border-radius:5%;
    background-color: #2E2E2F;
    padding: 2px 5px;
    width:fit-content;
    transition-property: color, background-color, padding;
    transition-duration: 0.5s;
  }

  main h2:hover {
    color: white;
    background: rgb(173, 29, 230);
    padding: 5px 10px;
  }

  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
  }

  .flexbox-grid {
    position:relative;
    border: 5px white;
    border-style: dashed;
    margin: 10px;
    height: 100%;
  }

  .text {
    position:relative;
    color:rgb(173, 29, 230);
    font-family: "Arial","Calibri",sans-serif;
    text-align: left;
    min-height: 150px;
    margin: 10px;
  }

  .card {
    position:absolute;
    bottom: 0px;
    align-items: center;
    /* Color gradient in background of card */
    background:linear-gradient(#ad1de6,#778899);
    border-radius:3%;
    padding: 10px;
    margin: 10px;
    color:antiquewhite;
    font-family:monospace;
    width: 90%;
  }

  .card:hover {
    user-select: all;
  }

  footer h2 {
    color: rgb(173, 29, 230);
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

/* Media Queries for Tablet */
@media screen and (max-width:768px) {
   .grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 30px;
    }
  }

/* Media Queries for Mobile */
@media screen and (max-width:576px) {
   .grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(1,1fr);
      grid-row-gap: 30px;
    }
}